{{ define "main" }}
  {{ .Content }}

  <h2 id="explore">Explore site
    <a class="secondary anchor" href="#explore">
      {{ with (resources.Get "icons/link.svg") -}}
        <img src="{{ .RelPermalink }}" class="icon icon-smaller">
      {{ end }}
    </a>
  </h2>

  <div class="siteview">
    <span>{{.Title}}</span>
    <ul style="list-style-type: '↪ ';margin: 0.2em;">
    {{ range .Site.Sections.ByWeight }}
      <li style="margin-top:0">
        <a href="{{ .RelPermalink }}">{{ .File.Dir }}</a>
        {{ .Summary }}
      </li>
    {{ end }}
    </ul>
  </div>

  <h2 id="latest">Latest posts
    <a class="secondary anchor" href="#latest">
      {{ with (resources.Get "icons/link.svg") -}}
        <img src="{{ .RelPermalink }}" class="icon icon-smaller">
      {{ end }}
    </a>
  </h2>

  <ul>
  {{ range (where site.RegularPages "Section" "posts").ByDate.Reverse }}
  <li>
    <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
    {{ .Summary }}
  </li>
  {{ end }}
  </ul>
{{ end }}

